.formSection {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    height: 100%;
    width: 100%;
}

body {
    background-image: url('https://cdn.shopify.com/s/files/1/0209/9894/files/shutterstock_179554040_1024x1024.jpg?11068046874827376653');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin: 0%;
    padding: 0%; */
    background-attachment: fixed;
}

form {
    background-color: rgba(255, 255, 255, 0.655);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 54vh;
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 1rem;
}

form button {

    color: aliceblue;
    background-color: rgb(112, 89, 7);
    border: none;
    border-radius: 3px;
    height: 2em;
    width: 5em;
    box-shadow: rgba(0, 0, 0, 0.24) 2px 3px 8px;
}

h3 {
    margin-top: .5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(91, 65, 4);
}

h5 {
    color: rgb(173, 6, 6);
    font-weight: lighter;
    font-size: smaller;
}

label {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}


h6 {
    margin-bottom: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

input {
    color: darkblue;
    border-radius: 5px;
    height: 2.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 2px 3px 8px;
}

u {

    color: rgb(110, 73, 4);

}

@media (max-width:650px) {
    .formSection {
        flex-direction: column;
    }

}