.TrainersCards{
    border: 2px solid orange;
    margin: 5rem;
    background-color: black;
    }
    
.trainersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }
  
  .TrainersProfile {
    width: 300px;
    height: 400px;
    border: 1px solid black;
  }
  
  .TrainersPicture {
    height: 50%;
    object-fit: cover;
  }
  
  .TrainersInfo {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
  }

  .Team{
    text-align: center;
    color: aliceblue;
}

  .Tbtn{
    text-align: center;
    margin: 1rem;
  
}
.teamBtn{
  width:10rem;
  background-color: rgb(155, 113, 7);
  color: white;
  border: none;
}

.text{
  color: black;
  font-family: serif;
  font-weight: bold;
}