


.container {
  padding-top: 6rem;
  height: max-content;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.501);
  /* background-image: url('https://wallpapertag.com/wallpaper/full/5/1/a/124353-popular-gym-background-1920x1110-for-android-tablet.jpg'); */
  background-blend-mode: darken;
  
} 

.box {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.video {
  box-sizing: border-box;
  display: flex;
  justify-content: center;

}

button{


color: aliceblue;
background-color:rgb(214, 64, 64);
border: none;
border-radius: 3px;
height: 2em;
width: 7em;

}

video {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.para {
  text-align: center;
  width: 50%;
  margin: 1rem;
  color: rgb(224, 218, 218);

}


h2 {
  color:rgba(186, 32, 5, 0.961);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  font-weight: bold;
}

p {
  font-size: large;
  color: rgb(213, 207, 207);
}

li {
  list-style: none;
}

.h4 {
  font-size:large;
  color: rgb(239, 209, 111);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@media (max-width:650px) {
  .box {
      flex-direction: column;
      
  }
  .para {
      text-align:start;
      width: 80%;
     margin: 1rem;

  }
 
  

}