.mainContainer{
    border: 2px solid orange;
    background-color: black;
    color: aliceblue;
    padding: 1rem;
    margin-top: 3rem;
}

.container{
    display: flex;
    padding: 10px;
    justify-content: center;
    justify-items: center;
    color: black;
}

.item{
    margin: 1rem;
}

@media screen and (max-width: 650px) {
   .container{
    flex-direction: column;
    align-items: center;
   } 
}