
.Scroller {
    background-color: black;
    border: 2px solid orange;
    padding: 10px;
    margin-top: 5rem;
  }
  
  .header2 {
    color: white;
    text-align: center;
  }
  
  .Product-container {
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
  .product-cards {
    flex-shrink: 0;
    width: 300px;
    margin-right: 20px;
    text-align: center;
  }
  
  .product-images img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  
  .caption {
    color: white;
    margin-top: 10px;
  }

  @media screen and (max-width: 768px) {
    .Product-container {
      gap: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .Product-container {
      gap: 5px;
      flex-direction: column;
      align-items: center;
    }
  }